In [ ]:
vlr1 = int(input('Digite o primeiro valor:'))
vlr2 = int(input('Digite o segundo valor:'))

Digite o primeiro valor: 5
Digite o segundo valor: 2

In [ ]:
result = vlr1 * vlr2
print('Resultado da multiplicação é:', result)

Resultado da multiplicação é:  10

# 2

In [ ]:
vlr1 = int(input('Digite o primeiro valor:'))
vlr2 = int(input('Digite o segundo valor:'))

Digite o primeiro valor: 5
Digite o segundo valor: 2

In [ ]:
print('Resultado da soma é:', vlr1 + vlr2)
print('Resultado da subtração é:', vlr1 - vlr2)
print('Resultado da multiplicação é:', vlr1 * vlr2)
print('Resultado da divisão é:', vlr1 / vlr2)

Resultado da soma é:  7
Resultado da subtração é:  3
Resultado da multiplicação é:  10
Resultado da divisão é:  2.5

#3

In [ ]:
vlr1 = int(input('Digite o primeiro valor:'))
vlr2 = int(input('Digite o segundo valor:'))

Digite o primeiro valor: 23
Digite o segundo valor: 17

In [ ]:
print('O resultado é:', (vlr1-vlr2)^2)

O resultado é:  4

# 4

In [ ]:
hrs = int(input('Digite o número de horas: '))

Digite o número de horas: 22

In [ ]:
print(hrs * 60, 'minutos')

1320 minutos

# 5

In [ ]:
hrs = int(input('Digite o número de horas: '))

Digite o número de horas: 22

In [ ]:
print(hrs * 3600, 'segundos')

79200 segundos